
  html{

    scale: 90%;
  }
  
  body {

    zoom: .65;
    
        }/*



    */
    .d-flex {

zoom: .95;

    }


    @media screen and (max-width:576px){
        .search-bar{       
            	
          width: 75;;
            
        }
    }
