
/*
    @media screen and (min-width:576px){
        .d-flex{
        
            	
            margin-right: 5%;	
            padding:6px;
            border-radius:15%;            
            color:#010c0b;;
            font-weight: bold;
            
        }
    }

    */
    .d-flex {

zoom: .95;

    }

