
  
  body {

    zoom: .75;
    
        }/*



    */
    .d-flex {

zoom: .95;

    }


    @media screen and (min-width:576px){
        .search-bar{       
            	
          width: 75;;
            
        }
    }

    .col-3 {
        opacity: .5;

    }
